PORT=PORT
JWKS_URL=http://HOST:PORT/.well-known/jwks.json
REDIS_ADDR=HOST:PORT
RABBITMQ_URL=amqp://USERNAME:PASSWORD@HOST:PORT/
RABBITMQ_EXCHANGE=EXCHANGE
RABBITMQ_ROUTING_KEY=ROUTING_KEY
RABBITMQ_QUEUE=QUEUE
AUTH_SERVICE_URL=http://HOST:PORT